.container {
  display: flex;
  align-items: center;
  padding: 30px 0;
}

.img_main {
  height: 500px;
  width: 450px;
  background-color: #f5f5f5;
  border-radius: 10px;
  margin-bottom: 20px;
}

.img_inner {
  height: 100px;
  width: 100px;
  background-color: #f5f5f5;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out, box-shadow 0.2s ease-in-out;
}

.img_inner:hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.08);
}

.left_side {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.img_more {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.right_side {
  text-align: left;
  display: flex;
  flex-direction: column;
  max-width: 55%;
}

.rating_box {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 25px;
}

.review {
  font-weight: 500;
  font-size: 16px;
}

.quantity_box {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 25px;
  background-color: #f5f5f5;
  width: fit-content;
  min-width: 180px;
  border-radius: 50px;
  border: 1px solid #e1e1e1;
}

.btn_box {
  display: flex;
  gap: 15px;
  margin-bottom: 40px;
  /* justify-content: center; */
}

.buy_button {
  padding: 15px;
  color: white;
  background-color: #4a99e8;
  border: 2px solid #4a99e8;
  border-radius: 50px;
  min-width: 160px;
  font-size: 15px;
  font-weight: 600;
}

.buy_button:hover {
  background-color: #468fd8;
  border: 1px solid #4a99e8;
}

.cart_button {
  padding: 15px;
  color: #4a99e8;
  background-color: white;
  border: 2px solid #4a99e8;
  border-radius: 50px;
  min-width: 160px;
  font-size: 15px;
  font-weight: 600;
}
.cart_button:hover {
  background-color: #f7f7f7d4;
}

.buy_button,
.cart_button:hover {
  cursor: pointer;
}

.delivery_box {
  display: flex;
  align-items: center;
  padding: 13px 15px;
  border: 1px solid #e2e2e2;
  border-radius: 15px;
  gap: 15px;
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
  }

  .left_side {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin-bottom: 20px;
    /* padding: 0 20px; */
  }
  .img_main {
    height: 300px;
    width: 250px;
    background-color: #f5f5f5;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  .img_inner {
    height: 80px;
    width: 80px;
    background-color: #f5f5f5;
    border-radius: 10px;
  }
  .quantity_box {
    flex-direction: column;
    /* align-items: center; */
    gap: 10px;
    margin-bottom: 20px;
  }

  .btn_box {
    justify-content: center;
  }

  .delivery_box {
    flex-direction: column;
    align-items: center;
    padding: 13px 15px;
    border: 1px solid #e2e2e2;
    border-radius: 15px;
    gap: 15px;
    margin-bottom: 20px;
  }
  .right_side {
    max-width: 80vw;
    padding: 0 10px;
  }
}

@media (min-width: 1024px) and (max-width: 1350px) {
  .img_main {
    height: 400px;
    width: 350px;
    background-color: #f5f5f5;
    border-radius: 10px;
    margin-bottom: 20px;
  }
}

@media (max-width: 400px) {
  .btn_box {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40px;
  }
}
