/* .img {
  height: 100px;
  width: 100px;
  object-fit: cover;
}
.card {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
}

.product {
  height: 200px;
  width: 200px;
  cursor: pointer;
}

.product:hover {
  background-color: #ededed;
}

.cart_btn {
  padding: 5px;
} */

.favorite_icon_box {
  position: absolute;
  right: 5px;
  top: 5px;
  border-radius: 100%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.08);
  width: 1.7rem;
  height: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating {
  color: #000;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
