.main_layout {
  /* font-family: "Inter", sans-serif; */
  padding: 0 100px;
}

@media (max-width: 768px) {
  .main_layout {
    padding: 0 20px;
  }
}

@media (max-width: 480px) {
  .main_layout {
    padding: 0 10px;
  }
}
