.products_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 20px;
  margin: 30px 0;
}

.input_box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #bababa;
  width: 20rem;
  border-radius: 30px;
}

.heading_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input {
  outline: none;
  border: none;
  height: 2rem;
  width: 16rem;
  font-size: 15px;
  color: #7d7d7def;
  padding: 0 5px;
  background-color: transparent;
}

.close {
  position: absolute;
  right: 5px;
  background-color: #e3e3e3;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.pagination_container {
  display: flex;
  justify-content: right;
  margin: 20px 0 30px;
}

@media (max-width: 1024px) {
  .products_container {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
}

@media (max-width: 810px) {
  .products_container {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 0 30px;
  }
}

@media (max-width: 500px) {
  .products_container {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    margin: 0 30px;
  }

  .heading_container {
    /* flex-direction: column; */
    flex-wrap: wrap-reverse;
    justify-content: center;
  }

  .input_box {
    padding: 0 10px;
    width: 16rem;
  }

  .input {
    font-size: 14px;
  }
}
